*{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   /*margin: 0;*/
    width: 1145px;
    
}

img{
    width: 1280px;
    height: 789px;

}
.menu a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: red;
    margin: 25.5px 72px 25.5px 0px;
   
}

h2{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 38px;
    margin-top: 49px;
}

.text{
    font-weight: 400;
    font-size: 16px;
    margin-left: 67px;
}

.par1{
    /*height: 132px;*/
}

.par2{
    /*height: 216px;*/
    margin: 28px 67px 84px 67px;
}

button{
    padding: 20px 30px;
    background-color: red;
    color: white;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: 900;
    width: 200px;
    height: 51px;
   
}

.footer{
    text-align: right;
    font-weight: bold;
    padding-top: 99px;
    font-size: 16px;
    
}

